html, body {
    font-family: 'Exo', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-size: 18px;

    a {
        color: #fff;
    }
}

.navs {
    position: fixed;
    bottom: 30px;
    right: 50px;

    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: flex;
        gap: 20px;

        li {
            a {
                font-size: 1.3em;
            }
        }
    }
}

.page-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;

    .page-bg {
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        display: block;
        position: fixed;
        opacity: 0.4;
        transition: opacity 1s;
    }

    .page-navigation {
        z-index: 1;
    }
}

.main-tab-page {
    height: 100vh;
    padding: 30px 30px;
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
}

.top-bg {
    z-index: 1;
}