html, body {
    font-family: 'Exo', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-size: 18px;

    a {
        color: #fff;
    }
}

.navs {
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 99;

    // mobile
	@media(max-width: 960px) {
		bottom: 0px;
        right: 0px;
        width: 100%;
        box-sizing: border-box;
        height: 80px;
	}

    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: flex;
        gap: 20px;

        // mobile
        @media(max-width: 960px) {
            justify-content: center;
        }

        li {
            a {
                font-size: 0.8em;
                text-decoration: none;

                svg {display: none;}

                // mobile
                @media(max-width: 960px) {
                    font-size: 2em;
                    display: block;
                    padding: 15px;

                    svg {display: block;}
                    span {display: none;}
                }
            }
        }
    }
}

.page-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;

    .page-bg {
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        display: block;
        position: fixed;
        opacity: 0.4;
        transition: opacity 1s;

        //mobile
		@media(max-width: 960px) {
			background-size: cover !important;
            background-position-y: center !important;
            background-position-x: center !important;
		}
    }

    .page-navigation {
        z-index: 1;
    }
}

.main-tab-page {
    min-height: 100vh;
    padding: 30px 30px;
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
}

.top-bg {
    z-index: 1;
}

.normal-page {
    margin: 30px 150px;
    width: 100%;
    box-sizing: border-box;

    //mobile
    @media(max-width: 960px) {
        margin: 20px 30px;
    }
}

.shadower {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 75px;
    box-shadow: inset 0 -41px 36px 1px #000;
    z-index: 9;
}